.navbar {
    background-color:darkblue;
    padding: 20px;
    position: sticky;
    top: 10px;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.column {
    width: 50%;
   
}

.meatball {
     
    padding: 5px;
}